<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DevOps Developer &amp; Product Owner</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">
                            <a href="http://nosinovacao.pt/">NOS Inovação</a>
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I got here as a Lead Developer with strong soft skills to help and drive the services' team forward. As I've become knowledgeable about the business, I started receiving projects to lead and manage.</p>

                        <p>I am in a SCRUM team with a team leader, two lead developers, two developers and two testers. We have among us a range of (mainly) backend services for the TV and OTT and purchasing business.</p>

                        <p>My responsibilities are within the services for Eletronic Programming Guide (EPG), Video On Demand (VOD) catalogs, purchases (channels, channel packages, VOD contents, account management), social networks on TV (YouTube, Facebook), profile management ("netflix-like" profiles), and the very large Network PVR and Event Timewarp.</p>

                        <p>On the R&amp;D field, we as a team are making efforts for integrating Speech-To-Text and Natural Language Processing providers to create features of voice control for the existing products. We are also advancing towards automated customer care and personal assistant services while investigating bot-based approaches.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2011 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Accenture Technology Solutions</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>This was my first job, and as I had C# experience from college I was assigned to that unit inside the Lisbon Delivery Center. I was then allocated to the SharePoint team.</p>  
                        
                        <p>There I was involved in developing diverse SharePoint solutions, for intranet and public portals. The biggest being the <a href="https://www.edp.com/">EDP</a> intranet, awarded with the Europe's best at the 2013 Digital Communication Awards (<a href="https://portugal.edp.com/en/news/edpon-intranet-distinguida-como-a-melhor-da-europa-nos-digital-communication-awards-2013">reference</a>). That project involved scaling for 12k employees using it for booking vehicles, using team sites, managing schedules and vacation days, receiving company news, whatnot. </p>

                        <p>Other projects were smaller, for energy and telecom clients. One project I'd like to highlight was related to the POS systems of all stores of a major telecom provider. The company had bought highly advanced terminals but those were misused just for simple payments. That project integrated their billing and store front systems to take advantage of paperless signatures, integrated payment receipts and advanced reporting features.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher</h3>
                            <div class="time">2010-2011</div>
                        </div><!--//upper-row-->
                        <div class="company">INESC TEC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I integrated the Computer Vision team while developing my master's thesis. My project intended to reconstruct rough 3D models from freely taken pictures. It was a sub-project of a bigger effort from the team to consistently measure the resulting effects of mastectomy interventions. The results would contribute to find and develop methods where the aesthetic impact was minimized while the change of success was higher.</p>

                        <p>Check the thesis <a href="https://repositorio-aberto.up.pt/handle/10216/63333" target="_blank">here</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->