<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>This is by no means an extensive list. There follows some few examples.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/nosinovacao/name-sdk">NAME</a></span> - <span class="project-tagline">A dependencies management library designed to expose and access dependencies information.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://nosinovacao.pt/" target="_blank">Network PVR                        </a></span> - 
                    <span class="project-tagline">Allows service providers to manage the complete recording ecosystem in a flexible manner. It also eliminates the need for individual user storage space in set-top boxes by providing a central location where all recorded programs could be stored and easily accessible. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://nosinovacao.pt/" target="_blank">Timewarp</a></span> - <span class="project-tagline">Catch up TV 7 days in the past. The biggest change since moving from black and white to color TV.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Sonangol</a></span> - <span class="project-tagline">Revamp of the Sonangol public site to the new SharePoint 2013. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.youtube.com/watch?v=6HDRl4BBXl8" target="_blank">edpOn Intranet</a></span> - <span class="project-tagline">The edpOn intranet is the entry point and main communication channel for the more than 12 000 employees of EDP, in three languages and 5 continents.</span>
                </div><!--//item-->
            </section><!--//section-->