@media print {
    body {
        font-size: 10px;
    }
    
    .col-sm-9 {
          width: 70%;
          float: right;
        }
    .col-sm-3 {
      width: 30%;
      float: left;
    }
    
  a[href]:after {
    content: none !important;
  }
    
    .pro-header, .pro-footer {
        background-color: #0073C6 !important;
        -webkit-print-color-adjust: exact;
    }
    
  a[href] {
    color: #0073C6 !important;   
    -webkit-print-color-adjust: exact;
  }
  
  h1, h1 strong, h2 {
      color: white !important;
      -webkit-print-color-adjust: exact;
  }
    
  .pro-footer {
    background-color: #0073C6 !important;
    -webkit-print-color-adjust: exact;
  }

}